<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/chats">
        <input name="from" placeholder="who r u?" type="text"><br><br>
        <textarea name="msg" placeholder="write msg"></textarea><br><br>
        <input name="to" placeholder="reciever name" type="text"><br>
        <br>
        <button>Add chat!!</button>
    </form>
</body>
</html>