<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<form method="get" action="/chats">
    <h3>Click to view Chats</h3>
    <button>Chats</button>
</form>

</body>
</html>
